<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-row>
      <ion-col size="4">
        <ion-menu-button style="color: green;"></ion-menu-button>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <img src="../assets/logo.png" style="width: 50%;" />
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../assets/main.jpg" />
  </ion-card>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Message</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>


  <ion-button color="success" style="width: 100%; margin-top:10px">Submit</ion-button>

</ion-content>




<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="book-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="cloudy-night-outline"></ion-icon>

      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="happy-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="folder-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="invert-mode-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-toolbar>


</ion-footer>