<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" style="color: green;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p align="center" style="color: green;"></p>
    </ion-title>
  </ion-toolbar> -->

  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <div class="ion-text-start">
          <ion-buttons>
            <ion-back-button defaultHref="/" color="success"></ion-back-button>
          </ion-buttons>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="ion-text-center">
          <ion-title class="ion-padding-top" color="success">
            Ramzan

          </ion-title>
        </div>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
    <ion-card>
      <img src="../assets/main.jpg" />
    </ion-card>
 
  <ion-row  >

    <ion-col size="6" *ngFor="let items of ramzan">
      <img [src]="items.image" />
    </ion-col>


  </ion-row>
</ion-content>
<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="caregivers">

        <ion-img src="../assets/footer/tuheed.jpg" style="width: 70%;"></ion-img>
        <p>Tuheed</p>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">

        <ion-img src="../assets/footer/namaz.png" style="width: 70%;"></ion-img>
        <p>Namaz</p>
      </ion-tab-button>

    </ion-col>

    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">

        <ion-img src="../assets/footer/roza.png" style="width: 80%;"></ion-img>
        <p>Roza</p>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">

        <ion-img src="../assets/footer/zakat.jpg" style="width: 70%;"></ion-img>
        <p>Zakat</p>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.4">
      <ion-tab-button tab="">

        <ion-img src="../assets/footer/hajj.png" style="width: 70%;"></ion-img>
        <p>Hajj</p>
      </ion-tab-button>

    </ion-col>

  </ion-row>




</ion-footer>