<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-row>
      <ion-col size="4">
        <ion-menu-button style="color: green;"></ion-menu-button>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <img src="../assets/logo.png" style="width: 50%;" />
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-row>

    <ion-col size="12">
      <ion-card>
        <img src="../assets/main.jpg" />
      </ion-card>

      <!-- <ion-searchbar animated></ion-searchbar> -->
    </ion-col>
    <ion-col size="6">
      <ion-card [routerLink]="['/dua']">
        
        <img src="../assets/dua.jpg" />
        
        
      </ion-card>


    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/darood']">
        <img src="../assets/durood.jpg" />
      </ion-card>


    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/ikhlaq']">
        <img src="../assets/ikhlaq.jpg" />
      </ion-card>


    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/namaz']">
        <img src="../assets/namaz.jpg" />
      </ion-card>


    </ion-col>


    <ion-col size="6">
      <ion-card [routerLink]="['/manners']">
        <img src="../assets/manners.jpg" />
      </ion-card>


    </ion-col>




    <ion-col size="6">
      <ion-card [routerLink]="['/qabar']">
        <img src="../assets/qabar.jpg" />
      </ion-card>


    </ion-col>
    <ion-col size="6">
      <ion-card [routerLink]="['/quran']">
        <img src="../assets/quran.jpg" />
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card [routerLink]="['/qayamat']">
        <img src="../assets/qayamat.jpg" />
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/ramzan']">
        <img src="../assets/ramzan.jpg" />
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/repentance']">
        <img src="../assets/repentance.jpg" />
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/sadqah']">
        <img src="../assets/sadqah.jpg" />
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/wuzu']">
        <img src="../assets/wuzu.jpg" />
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/sickness']">
        <img src="../assets/sickness.jpg" />
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <img src="../assets/biddat.png" />
      </ion-card>
    </ion-col>

    <!-- <ion-col size="6">
      <ion-card>
        <img src="../assets/dunia.jpg" />
      </ion-card>
    </ion-col> -->


  </ion-row>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="book-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="cloudy-night-outline"></ion-icon>

      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="happy-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="folder-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="invert-mode-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="font-size:30px">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-toolbar>


</ion-footer>